/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Now 1rem = 1em = 10px */

  overflow: hidden;
}

/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #000;
}


/**********************************************************
  Common Properties to Both Loader-1 and Loader-2
**********************************************************/
#box1,
#box2 {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  animation: rotate 3s linear infinite;
}


/**********************************************************
  Box-1  (Loader-1)
**********************************************************/
#box1 {
  border: 2rem dotted #ffd32a;
  border-top-color: #ffa801;
  border-left-color: #ffc048;
  border-bottom-color: #ffdd59;
}


/**********************************************************
  Box-2  (Loader-2)
**********************************************************/
#box2 {
  border: 2rem solid transparent;
  border-top-color: red;
  border-left-color: rgb(13, 0, 255);
  border-bottom-color: rgb(221, 255, 0);
  animation-duration: 2s;
}


@media (hover:hover) {

  #box1:hover,
  #box2:hover {
    animation-duration: 10s;
    cursor: pointer;
  }

}


/**********************************************************
  Keyframes to Animate Loaders
**********************************************************/
@keyframes rotate {

  100% {
    transform: rotate(360deg);
  }
}